<div class="d-flex w-100 h-100 flex-column p-2">
  <div class="container-fluid flex-grow-1">
    <div class="row h-100">
      <div class="col-6">
        test
        <div class="d-flex gap-2">
          <div class="text-bg-success rounded px-2">Valid</div>
          <div class="text-bg-info rounded px-2">Field</div>
          <div class="text-bg-info rounded px-2">Field</div>
        </div>
      </div>
      <div class="col-6">
        <div class="w-100 h-100">
          <app-text-format class="w-100 h-100"></app-text-format>
        </div>
      </div>
    </div>
  </div>
</div>
