@use "styles/custom.scss";
$primary: #ff5733; // Change primary color
$font-family-sans-serif: "Arial", sans-serif;

// // Import Bootstrap
@use "../node_modules/bootstrap/scss/bootstrap";

.min-w-33 {
  min-width: 33.333333%;
}
